#imglogo{width: 80px;
height: 50px;
margin-left: 65px;
position: relative;}

#banner{background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../medias/images/imagefond.jpg");
background-repeat: no-repeat;
text-align: center;
background-size: cover;
font-weight: bold;
height: 700px;
color: white;}

#heure_exacte{color: white;
position:absolute;
margin-left: 10px;}

#sommaire{text-align: center;
color: green;}

ol{list-style-type: decimal}

#banner h1{text-transform: uppercase;
font-size: 50px;
text-align: center;
color: lightgreen;}

#banner p{text-transform: uppercase;}


.image {margin: 0;
flex: 1;
padding: 2rem;
text-align: center;
border: 2px solid black;
background: #fff;
box-shadow: 0 1px 5px rgba(0,0,0,.1)}

.image + .image {margin-left: 10px;}

.image-description {margin-top: 20px;
text-align: center;}

.disposition{display: flex;
margin-left: 5px;
margin-right: 5px;}

.image-item{border:3px solid black;
width : 300px; 
height : 200px;}

ul {list-style-type: none;
margin-bottom: 0.7rem;
margin-left: 50px;
margin-top: 5px;}

ul li{margin-bottom: 10px;}


.marge{text-align: justify;
margin: 20px;}

footer{text-align: center;}

/*
footer{background-color: lightgreen;
color: black;
text-align: center;
padding-bottom: 35px;
padding-top: 35px;}
*/

body{background-color: lightgray;}

input{margin-top: 15px;
box-shadow: inset 1px 1px 3px #ccc;
border-radius: 5px;
display: inline-block;
padding: 3px;}

.italic{font-style: italic;}

/*Boutons retour et suivant*/

.boutonvert{box-shadow: 1px 1px 3px green;
background-color: black;
color: white;
border-color:black;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
cursor: pointer;
text-align: center;}

#suivant{text-align: center;
float: right;
margin-right: 30px;
margin-bottom: 20px;
}

#retour{text-align: center;
float: left;
margin-left: 30px;
margin-bottom: 20px;}

/*en tête de le page*/

*{margin: 0;
padding:0;}

header{background-color: black;
padding-top:15px;
padding-bottom: 20px;}

nav ul{list-style-type: none;}

nav li{float: right;
width: 15%;
text-align: center;
padding-top: 25px;
padding-bottom: 20px;
font-weight: bold;}

nav{width: 100%;
margin: 0 auto;
position: absolute;
top: 0px;}

nav a{display: block;
text-decoration: none;
color: white;
border-bottom: 2px solid transparent;
padding: 10px 0px;}

nav a:hover{color: lightgreen;
border-bottom: 2px solid green;}
